          35           2
           1        1751        1455          10        3314
           2        1455        1020          10        1941
           3        1020        1019          10        1943
           4        1019        1018          10        1945
           5        1018        1017          10        1947
           6        1017        1016          10        1949
           7        1016        1015          10        1951
           8        1015        1014          10        1953
           9        1014        1013          10        1955
          10        1013        1012          10        1957
          11        1012        1011          10        1959
          12        1011        1010          10        1940
          13        1010        1009          10        1919
          14        1009        1008          10        3092
          15        1008        1468          10        3090
          16        1468        1469          10        3088
          17        1469        1665          10        3086
          18        1751        1455           8        2917
          19        1455        1020           8        1856
          20        1020        1019           8        1977
          21        1019        1018           8        1975
          22        1018        1017           8        1973
          23        1017        1016           8        1971
          24        1016        1015           8        1969
          25        1015        1014           8        1996
          26        1014        1013           8        1994
          27        1013        1012           8        1992
          28        1012        1011           8        1990
          29        1011        1010           8        1988
          30        1010        1009           8        1923
          31        1009        1008           8        1921
          32        1008        1468           8        2907
          33        1468        1469           8        2905
          34        1469        1665           8        2903
          35        1665        1664           8        2898
