          86           2
           1         556         445          10         973
           2         445         446          10         975
           3         446         296          10         977
           4         296         297          10         584
           5         297         298          10         586
           6         298         299          10         553
           7         299         300          10         539
           8         300         301          10         530
           9         301         316          10         532
          10         316         317          10         654
          11         317         318          10         656
          12         318         333          10         658
          13         333         334          10         689
          14         334         335          10         691
          15         335         336          10         700
          16         336         337          10         698
          17         337         338          10         730
          18         338         339          10         459
          19         339         340          10         461
          20         340         513          10         978
          21         513         557          10         980
          22         535         462           7         982
          23         535         462           9         959
          24         462         304           7         960
          25         462         304           9         967
          26         304         305           7         503
          27         304         305           9         421
          28         305         306           7         420
          29         305         306           9         723
          30         306         307           7         724
          31         306         307           9         778
          32         307         308           7         777
          33         307         308           9         634
          34         308         309           7         633
          35         308         309           9         649
          36         309         310           7         683
          37         309         310           9         135
          38         310         311           7         134
          39         310         311           9         123
          40         311         312           7         122
          41         311         312           9         164
          42         312         313           7         165
          43         312         313           9           2
          44         313         314           7           3
          45         313         314           9          91
          46         314         315           7          77
          47         314         315           9         331
          48         315         303           7         341
          49         315         303           9         388
          50         303         302           7         387
          51         303         302           9         378
          52         302         290           7         377
          53         302         290           9         229
          54         290         291           7         228
          55         290         291           9         219
          56         291         292           7         218
          57         291         292           9         295
          58         292         293           7         294
          59         292         293           9         257
          60         293         294           7         256
          61         293         294           9         272
          62         294         439           7        1061
          63         294         439           9        1072
          64         439         555           7        1060
          65         439         555           9        1053
          66         556         445           8         867
          67         445         446           8         869
          68         446         296           8         886
          69         296         297           8         888
          70         297         298           8         435
          71         298         299           8         437
          72         299         300           8         439
          73         300         301           8         441
          74         301         316           8         551
          75         316         317           8         518
          76         317         318           8         520
          77         318         333           8         522
          78         333         334           8         524
          79         334         335           8         489
          80         335         336           8         486
          81         336         337           8         484
          82         337         338           8         465
          83         338         339           8         463
          84         339         340           8         487
          85         340         513           8         829
          86         513         557           8        1131
