           7           2
           1          70          35           7         113
           2          70          35           9          92
           3          35          34           7          55
           4          35          34           9         105
           5          34          58           7         119
           6          34          58           9         116
           7          58          59           7         115
