          86           2
           1        1835        1618          10        3217
           2        1618        1111          10        3333
           3        1111        1112          10        2060
           4        1112        1113          10        2058
           5        1113        1114          10        2056
           6        1114        1128          10        2054
           7        1128        1129          10        2052
           8        1129        1143          10        2061
           9        1143        1144          10        2072
          10        1144        1145          10        2070
          11        1145        1146          10        2068
          12        1146        1147          10        2066
          13        1147        1148          10        2064
          14        1148        1149          10        2050
          15        1149        1150          10        2036
          16        1150        1151          10        2034
          17        1151        1152          10        2032
          18        1152        1153          10        2030
          19        1153        1142          10        2028
          20        1142        1655          10        3331
          21        1655        1834          10        3329
          22        1812        1628           7        3257
          23        1812        1628           9        3266
          24        1628        1117           7        3267
          25        1628        1117           9        3276
          26        1117        1118           7        2698
          27        1117        1118           9        2552
          28        1118        1119           7        2551
          29        1118        1119           9        2592
          30        1119        1120           7        2602
          31        1119        1120           9         527
          32        1120        1121           7         526
          33        1120        1121           9         571
          34        1121        1122           7         570
          35        1121        1122           9         411
          36        1122        1123           7         410
          37        1122        1123           9         445
          38        1123        1124           7         444
          39        1123        1124           9         715
          40        1124        1125           7         714
          41        1124        1125           9         747
          42        1125        1126           7         734
          43        1125        1126           9         587
          44        1126        1127           7         586
          45        1126        1127           9         633
          46        1127        1116           7         632
          47        1127        1116           9         121
          48        1116        1115           7         120
          49        1116        1115           9         183
          50        1115        1104           7         182
          51        1115        1104           9          39
          52        1104        1105           7          38
          53        1104        1105           9          87
          54        1105        1106           7          86
          55        1105        1106           9         331
          56        1106        1107           7         330
          57        1106        1107           9         365
          58        1107        1108           7         364
          59        1107        1108           9         223
          60        1108        1109           7         222
          61        1108        1109           9         275
          62        1109        1616           7        3634
          63        1109        1616           9        3661
          64        1616        1836           7        3660
          65        1616        1836           9        3653
          66        1835        1618           8        3038
          67        1618        1111           8        3040
          68        1111        1112           8        2254
          69        1112        1113           8        2002
          70        1113        1114           8        2016
          71        1114        1128           8        2018
          72        1128        1129           8        2020
          73        1129        1143           8        1936
          74        1143        1144           8        1938
          75        1144        1145           8        1940
          76        1145        1146           8        1954
          77        1146        1147           8        2085
          78        1147        1148           8        2076
          79        1148        1149           8        2078
          80        1149        1150           8        2080
          81        1150        1151           8        2044
          82        1151        1152           8        2046
          83        1152        1153           8        2048
          84        1153        1142           8        2037
          85        1142        1655           8        3042
          86        1655        1834           8        3698
