          33           2
           1         167         117          10         288
           2         117         118          10         261
           3         118         119          10         259
           4         119         120          10         257
           5         120         121          10         255
           6         121         123          10         253
           7         123         107          10         251
           8         107         105          10         264
           9         105         110          10         275
          10         110         104          10         273
          11         104         108          10         271
          12         108         166          10         269
          13         179         113           7         268
          14         179         113           9         248
          15         113         114           7         247
          16         113         114           9         309
          17         114         115           7         308
          18         114         115           9         329
          19         115         169           7         328
          20         115         169           9         321
          21         169         168           7         306
          22         167         117           8         211
          23         117         118           8         196
          24         118         119           8         194
          25         119         120           8         177
          26         120         121           8         193
          27         121         123           8         191
          28         123         107           8         189
          29         107         105           8         187
          30         105         110           8         185
          31         110         104           8         183
          32         104         108           8         181
          33         108         166           8         179
