          32           2
           1           1          21           7           1
           2          21          23          10          30
           3          23          25          10          32
           4          25          38          10          60
           5          38          59          10          62
           6          58          44          10          64
           7          44          19          10          66
           8          19          18          10          23
           9           1          21           9          25
          10          21          18          10          25
          11           1          20           7          29
          12           1          20           9           8
          13          20          26           7          94
          14          20          26           9          96
          15          26          53           7          97
          16          26          53           9         109
          17          52          28           7         108
          18          52          28           9          72
          19          28          24           7          43
          20          28          24           9          36
          21          24          22           7           6
          22          24          22           9          12
          23          21          23           8          13
          24          21          22           7          13
          25          23          25           8          15
          26          25          38           8          59
          27          38          59           8          57
          28          58          44           8          55
          29          44          19           8          53
          30          19          18           8          17
          31          21          18           8          19
          32          21          22           9           7
