          84           2
           1        1844        1674          10        3334
           2        1674        1065          10        3417
           3        1065        1066          10        2154
           4        1066        1080          10        2152
           5        1080        1081          10        2150
           6        1081        1095          10        2148
           7        1095        1096          10        2157
           8        1096        1097          10        2159
           9        1097        1098          10        2168
          10        1098        1099          10        2166
          11        1099        1100          10        2164
          12        1100        1101          10        2162
          13        1101        1102          10        2160
          14        1102        1103          10        2145
          15        1103        1104          10        2130
          16        1104        1094          10        2128
          17        1094        1093          10        2126
          18        1093        1092          10        2124
          19        1092        1082          10        2122
          20        1082        1673          10        2133
          21        1673        1843          10        3415
          22        1786        1677           7        3662
          23        1786        1677           9        3701
          24        1677        1070           7         173
          25        1677        1070           9          20
          26        1070        1071           7          19
          27        1070        1071           9          68
          28        1071        1072           7          67
          29        1071        1072           9         322
          30        1072        1073           7         321
          31        1072        1073           9         368
          32        1073        1074           7         304
          33        1073        1074           9         288
          34        1074        1075           7         287
          35        1074        1075           9        1346
          36        1075        1076           7        1345
          37        1075        1076           9        1392
          38        1076        1077           7        1391
          39        1076        1077           9        1249
          40        1077        1078           7        1250
          41        1077        1078           9        1301
          42        1078        1079           7        1311
          43        1078        1079           9        1553
          44        1079        1069           7        1554
          45        1079        1069           9        1612
          46        1069        1068           7        1611
          47        1069        1068           9        1458
          48        1068        1067           7        1457
          49        1068        1067           9        1504
          50        1067        1057           7        1490
          51        1067        1057           9         920
          52        1057        1058           7         919
          53        1057        1058           9        1000
          54        1058        1059           7         999
          55        1058        1059           9         850
          56        1059        1060           7         849
          57        1059        1060           9         902
          58        1060        1061           7         901
          59        1060        1061           9        1160
          60        1061        1676           7        3594
          61        1061        1676           9        3559
          62        1676        1845           7        3558
          63        1676        1845           9        3551
          64        1844        1674           8        3225
          65        1674        1065           8        3248
          66        1065        1066           8        2372
          67        1066        1080           8        2338
          68        1080        1081           8        2350
          69        1081        1095           8        2352
          70        1095        1096           8        2354
          71        1096        1097           8        2114
          72        1097        1098           8        2116
          73        1098        1099           8        2118
          74        1099        1100           8        2030
          75        1100        1101           8        2045
          76        1101        1102           8        2060
          77        1102        1103           8        2172
          78        1103        1104           8        2174
          79        1104        1094           8        2176
          80        1094        1093           8        2140
          81        1093        1092           8        2142
          82        1092        1082           8        2144
          83        1082        1673           8        2156
          84        1673        1843           8        3719
