          17           2
           1         480         387          10         966
           2         387         315          10         851
           3         315         338          10         497
           4         338         339          10         499
           5         339         377          10         501
           6         377         382          10         848
           7         382         481          10         846
           8         526         478           7         811
           9         478         479           7         945
          10         480         387           8         728
          11         387         315           8         737
          12         315         338           8         509
          13         338         339           8         507
          14         339         377           8         505
          15         377         382           8         503
          16         382         481           8         741
          17         481         482           8         739
