          49           2
           1         497         445          10        1038
           2         445         446          10         956
           3         446         496          10         954
           4         505         443           7        1022
           5         505         443           9        1019
           6         443         272           7         870
           7         443         272           9         718
           8         272         273           7         717
           9         272         273           9         754
          10         273         274           7         753
          11         273         274           9         450
          12         274         275           7         154
          13         274         275           9         137
          14         275         276           7         136
          15         275         276           9         175
          16         276         277           7         174
          17         276         277           9          47
          18         277         278           7          46
          19         277         278           9          89
          20         278         279           7          88
          21         278         279           9         225
          22         279         280           7         226
          23         279         280           9         364
          24         280         270           7         363
          25         280         270           9         404
          26         270         269           7         403
          27         270         269           9         277
          28         269         259           7         276
          29         269         259           9         319
          30         259         260           7         318
          31         259         260           9         296
          32         260         261           7         308
          33         260         261           9         428
          34         261         262           7         429
          35         261         262           9         764
          36         262         263           7         711
          37         262         263           9         458
          38         263         264           7         459
          39         263         264           9         581
          40         264         444           7         582
          41         264         444           9         594
          42         499         565           8         877
          43         565         444           7         877
          44         499         498           8         880
          45         497         445           8         879
          46         445         446           8         596
          47         446         496           8         875
          48         565         496           8         873
          49         565         444           9        1040
