          63           2
           1           1         395           7           1
           2         395         365          10         575
           3         365         366          10         573
           4         366         345          10         571
           5         345         334          10         569
           6         334         335          10         567
           7         335         336          10         565
           8         336         337          10         577
           9         337         394          10         589
          10         394         401          10         587
          11         401         402          10         585
          12         402         404          10         583
          13         404         400          10         581
          14         400         381          10         579
          15         381         382          10         563
          16         382         383          10         547
          17         383         384          10         545
          18         384         385          10         543
          19         385         421          10         541
          20         421         517          10         829
          21         519         420          10         831
          22         420         387          10         539
          23         387         388          10         537
          24           1         395           9         549
          25         395         388          10         549
          26           1         356           7         550
          27           1         356           9         617
          28         356         437           7         602
          29         356         437           9         479
          30         437         494           7         980
          31         437         494           9         904
          32         492         488           7        1016
          33         488         436           7         843
          34         488         436           9         872
          35         436         435           7         871
          36         436         435           9         865
          37         435         364           7         864
          38         435         364           9         827
          39         395         365           8         318
          40         395         364           7         318
          41         365         366           8         316
          42         366         345           8         314
          43         345         334           8         312
          44         334         335           8         310
          45         335         336           8         308
          46         336         337           8         293
          47         337         394           8         278
          48         394         401           8         276
          49         401         402           8         274
          50         402         404           8         272
          51         404         400           8         270
          52         400         381           8         268
          53         381         382           8         280
          54         382         383           8         290
          55         383         384           8         288
          56         384         385           8         286
          57         385         421           8         284
          58         421         517           8         820
          59         519         420           8         832
          60         420         387           8         840
          61         387         388           8         283
          62         395         388           8         281
          63         395         364           9         646
